{% load staticfiles hijack_tags %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:image" content="{% static 'img/social-network.png' %}"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />

        {% block extra_css %}{% endblock %}
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'img/touch-icon.png' %}">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="{% block bodyid %}{% endblock %}" ontouchstart="">
    {% hijack_notification %}

    {% block header %}
        {% include '_header.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include '_footer.html' %}
    {% endblock %}

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block extra_js %}
        <script src="{% static 'js/app.min.js' %}"></script>
    {% endblock %}
	<!-- cache version {% now 'Y-m-d H:i:s' %} -->
    </body>
</html>

